---
import Subpage from "@layouts/Subpage.astro";
import { Table, Row, Cell } from "@components/table";
import { db } from "@lib/database";
import { employee, team } from "@lib/database/schema";

import Remove from "@components/buttons/Remove.svelte";
import { Input, Submit } from "@components/form";

import { count, eq } from "drizzle-orm";
import * as m from "@paraglide/messages";
import { Icon } from "astro-icon/components";

const teams = await db
  .select({
    id: team.id,
    name: team.name,
    employeesCount: count(employee),
  })
  .from(team)
  .leftJoin(employee, eq(employee.teamId, team.id))
  .groupBy(team.id)
  .orderBy(team.name);
---

<Subpage title="Teams">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <h3 class="font-bold text-3xl">{m.teams()}</h3>
      <form method="POST" action="/api/teams" class="flex flex-col sm:flex-row gap-2">
        <Input name="name" placeholder={m.name()} type="text" required class="w-full" />
        <Submit class="self-end">
          {m.add()}
        </Submit>
      </form>

      {
        teams.length === 0 ? (
          <span class="font-bold text-xl text-center">{m.no_teams()}</span>
        ) : (
          <Table headers={[m.name(), m.employees_count(), m.actions()]}>
            {teams.map((team) => (
              <Row>
                <Cell>
                  <form method="POST" action={`/api/teams/${team.id}/rename`}>
                    <input type="text" id="team_name" name="team_name" value={team.name} class="bg-transparent" />
                    <input type="submit" hidden />
                  </form>
                </Cell>
                <Cell>
                  <span>{team.employeesCount}</span>
                </Cell>
                <Cell>
                  <div class="flex flex-row gap-2 items-center">
                    <a href={`/teams/${team.id}`}>{m.edit()}</a>
                    <form method="POST" action={`/api/teams/${team.id}/delete`}>
                      <Remove />
                    </form>
                  </div>
                </Cell>
              </Row>
            ))}
          </Table>
        )
      }
    </div>
  </div>
</Subpage>
